body{
	background-color:  #F0FFFF;

}
.meni {
	position: absolute;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	top: 10px;
	left: 0px;
	right: 0px;
	padding: 10px 0px;
}

.meni a:link, a:visited {
    color: black;
  /*  padding: 15px 30px; */
    text-align: center;
    text-decoration:none;
    display: inline-block;
}

.menip {
	position: relative;
	color: black;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 5px;
	margin-top: 2px;
	margin-left:5px;
	margin-bottom: 2px;
	margin-right: 4px;
	background-color: #7FFFD4;
	width:150px;
	height: 20px;
}

.menip:hover {
	background-color: Aqua;
}

.podmeni {
	display: none;
	position: absolute;
	left: 0px;
	top: 40px;
	background-color: white;
	border: solid;
	border-color: white;
	width: 120%;
	z-index: 1
}

form {
	font-family: Verdana, Times, sans-serif;
	font-size: 1em;
	text-align: justify;
	color: Maroon;
}

input[type=text] {
	max-width: 100%;
	width: 50%;
	height: 25px;
	padding-left: 20px;
	padding: 15px 30px;
    margin: 6px 3px;
}

input[type=text]:focus {
    background-color: rgb(250,250,210);
}

select {
    width: 30%;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: rgb(250,250,210);
}

input[type="number"] {
	color: Tomato;
	background-color: rgb(250,250,210);
	width: 10%;
	height: 12px;
	padding-left: 5px;
	padding: 10px 15px;
}

input[type="date"]:focus{
	background-color: rgb(250,250,210);
}

input[type="time"]:focus{
	background-color: rgb(250,250,210);
}

input[type=submit] {
    background-color: #7FFFD4;
    border: none;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    margin: 6px 3px;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid Maroon;
    border-radius: 4px;
    background-color: rgb(250,250,210);
}

 p{
	font-family: Verdana, Times, sans-serif;
	font-size: 1em;
	text-align: justify;
	color: Maroon;
}