body{
	background-color:  #F0FFFF;
}

.meni {
	position: absolute;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	top: 10px;
	left: 0px;
	right: 0px;
	padding: 10px 0px;
}

.meni a:link, a:visited {
    color: black;
  /*  padding: 15px 30px;*/
    text-align: center;
    text-decoration:none;
    display: inline-block;
}

.menip {
	position: relative;
	color: black;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 5px;
	margin-top: 2px;
	margin-left:5px;
	margin-bottom: 2px;
	margin-right: 4px;
	background-color: #7FFFD4;
	width:150px;
	height: 20px;
}

.menip:hover {
	background-color: Aqua;
}

.podmeni {
	display: none;
	position: absolute;
	left: 0px;
	top: 30px;
	background-color: white;
	border: solid;
	border-color: white;
	width: 120%;
	z-index: 1;
}

p, ul{
	font-size: 1.2em;
	text-align: justify;
	text-decoration: none;
	font-family: Times, Arial, sans-serif;
}